.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.content {
 background-color: white;
 border: 5px solid black;
 margin: 5%;
 padding: 5px;
}
/*
.footer {
 bottom: 0;
 height: 30px;
 left: 0;
 position: absolute;
 text-align: center;
 width: 100%;
}
*/
.footer {
 bottom: 0;
 left: 0;
 position: fixed;
 text-align: center;
 width: 100%;
}

html {
 background-color: #e6e6ff;
}
