/*Thanks to
css-tricks https://css-tricks.com/perfect-full-page-background-image/ 
and
W3schools https://www.w3schools.com/css/css_rwd_intro.asp
for responsive web design.
*/

/* Thanks to
http://www.miltonbayer.com/font-face/
and
https://www.theleagueofmoveabletype.com/
for font help
*/

@font-face {
    font-family: SortsMillGoudy;
    src: url(fonts/goudystm-webfont.woff);
}

@font-face {
    font-family: WarsawGothicObl;
    src: url(fonts/warsawgothicobl.otf);
}

body {
    font-family: SortsMillGoudy, serif;
}

.heading-main {
    margin: auto;
    text-align: center;
}

.content {
    margin: auto;
    max-width: 60%;
    text-align: left;
}


.footer {
 bottom: 0;
 left: 0;
 position: fixed;
 text-align: center;
 width: 100%;
}
/*
.contact {
    font-family: WarsawGothicObl, sans-serif;
}
*/

/* Test from August 18, 2018 W3Schools Responsive web design */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	html {
		background: url("/images/homepage/road-XS-rev1.JPG") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		font-size: 18px;
		height: 100%;
		overflow: hidden;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html{
		background: url("/images/homepage/road-S.JPG") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;	
		background-size: cover;
		height: 100%;
		overflow: hidden;	
	}
}

/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	html{
		background: url("/images/homepage/road-M.JPG") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		overflow: hidden;	
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	html{
		background: url("/images/homepage/road-L.JPG") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		overflow: hidden;	
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	html{
		background: url("/images/homepage/road-XL.JPG") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		font-size: 25px;
		height: 100%;
		overflow: hidden;
	}
}

/* Look at variable font size! */

